#zoo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.animal {
    margin: .5%;
    border: black solid 1px;
    padding: 0%;
    padding-bottom: 0%;
    width: 25%;
    height: 500px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;

}

.red {
    background-color: red;
}

.green {
    background-color: green;
}